.departments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.department {
  width: 30%;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  margin-top: 5%;
  text-align: center;
  align-items: center;
  .icone {
    width: 90%;
    border-radius: 10px;
  }
  .picto {
    margin: auto;
    width: 5%;
    vertical-align: middle;
    margin-right: 1%;
  }
  h2 {
    color: $bleu-1;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  a {
    margin: auto;
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
